@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  background-color: #1a1924;
  color: white;
}

h1 {
  font-size: 1.8rem;
  font-weight: 600;
}

h2 {
  font-size: 1.5rem;
  font-weight: 600;
}
a{
  text-decoration: none;
}
input:focus {
  outline: none;
}

button {
  font-family: "Inter", sans-serif;
}

.spinner {
  display: inline-block;
  width: 50px;
  height: 50px;
  border: 6px solid rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  border-top-color: #ab6ede; 
  animation: spin 1s ease-in-out infinite;
  margin: auto;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.spinner-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
}


::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: #f0f0f0; 
}

::-webkit-scrollbar-thumb {
  background-color: #ab6ede;
  border: 2px solid #f0f0f0; 
}

::-webkit-scrollbar-thumb:hover {
  background-color: #9a59d0;
}
